[BASIC]
max-line-length=120
good-names= p,
            P,
            x,
            y,
            z,
            n,
            N,
            L,
            h,
            t,
            T,
            dt,
            dT,
            V,
            v,
            r,
            R,
            f,
            F,
            c,
            C,
            i,
            I,
            M,
            B,
            a,

